#READ ENV VAR MASTER_ADDR
#READ ENV VAR MASTER_PORT
#READ ENV VAR NODE_RANK
#READ ENV VAR MODEL_PATH
#READ ENV VAR GPU_COUNT
#READ ENV VAR NUM_NODES

NODE_RANK="$NODE_RANK" python main.py -t true -b $MODEL_PATH --accelerator="ddp" --gpus="$GPU_COUNT" --logger="true" --num_nodes=$NUM_NODES